<section class="login-page">

  <div class="login-container">
    <div class="login-title-container">
      <h1 class="title">Login</h1>
    </div>
    <div class="login-form-container">
      <div class="login-form-card">
        <form (ngSubmit)="login()">

          <div class="input-container">
            <input type="text" required=""  name="email" [(ngModel)]="email"/>
            <label>Email</label>		
          </div>

          <div class="input-container">
            <input type="password" required="" name="password" [(ngModel)]="password"/>
            <label>Password</label>		
          </div>

          
          <button class="btn" type="submit">Login</button>
        </form>

      </div>

      <div style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">No tienes usuario? <a href="#">Registrate</a></div>

    </div>

  </div>

</section>