<section class="login-page">

  <div class="login-container">
    <div class="login-title-container">
      <h1 class="title">Login</h1>
    </div>
    <div class="login-form-container">
      <div class="login-form-card">
        <form action="">
          <p>Email</p>
          <input type="email" name="email">
          <p>Password</p>
          <input type="password" name="email">
          <button type="submit">Login</button>
        </form>

      </div>

      <div>No tienes usuario? <a href="#">Registrate</a></div>

    </div>

  </div>

</section>